body{
    margin:0;
    background:#222733;
    color:white;
    font-family:Consolas;
}

#toolbar{
    background:#1f2430;
    padding:10px;
    border-bottom:1px solid #444;
    display:flex;
    gap:10px;
    align-items:center;
}

#viewer{
    overflow:auto;
    padding:10px;
}

.headerRow,
.instRow{
    display:grid;
    grid-template-columns:
        550px repeat(300, var(--cycle-width));
}

.labelCell{
    padding:6px;
    border-bottom:1px solid #333;
    white-space:nowrap;
}

.cycleCell{
    width:var(--cycle-width);
    height:28px;
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid #333;
    font-size:14px;
}

.fetch{
    background:#6247aa;
}

.execute{
    background:#5ca6bd;
}

.retire{
    background:#4aa564;
}

#searchBox{
    background:#2c3444;
    color:white;
    border:1px solid #555;
    padding:5px;
}

.instRow:nth-child(even){
    background:#262c39;
}

.instRow:nth-child(odd){
    background:#222733;
}

.highlight{
    background:#4f5b7a !important;
}